
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://cxf.apache.org/jaxws
       http://cxf.apache.org/schemas/jaxws.xsd
       http://cxf.apache.org/jaxrs
       http://cxf.apache.org/schemas/jaxrs.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-2.5.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">


    <!-- ########################  -->
    <!--   External Ressources.    -->
    <!-- ########################  -->

    <import resource="classpath:META-INF/cxf/cxf.xml" />
    <import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
    <import resource="classpath:META-INF/cxf/cxf-extension-jaxrs-binding.xml" />


    <!-- ########################  -->
    <!--   Your code below.        -->
    <!-- ########################  -->
    
    <context:annotation-config />
    <context:component-scan base-package="com.mti.mtispring.db" />

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/mydb" />
        <property name="username" value="root" />
        <property name="password" value="" />
    </bean>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="jpaDialect">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaDialect" />
        </property>
        <property name="jpaVendorAdapter">
        <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
            <property name="showSql" value="false" />
            <property name="databasePlatform" value="org.hibernate.dialect.MySQLInnoDBDialect" />
            <property name="generateDdl" value="false" />
        </bean>
        </property>
    </bean>

    <!-- add DAOs here else no link. Instanciate them using @autowired -->    
    <bean id="peopleDao" class="com.mti.mtispring.db.daos.PeopleDAO"/>
    
    <bean id="txManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>
    <tx:annotation-driven transaction-manager="txManager" />

    <bean id="requestHandler" class="com.mti.mtispring.HelloWorld" />
    <jaxws:endpoint id="soap" implementor="#requestHandler" address="/soap" />
    <jaxrs:server id="rest" address="/rest/">
        <jaxrs:serviceBeans>
            <ref bean="requestHandler" />
        </jaxrs:serviceBeans>
    </jaxrs:server>
    
    <bean id="requestHandlerCalcul" class="com.mti.mtispring.Calculatrice" />
    <jaxws:endpoint id="soap2" implementor="#requestHandlerCalcul" address="/soap2" />
    <jaxrs:server id="rest2" address="/rest2/">
        <jaxrs:serviceBeans>
            <ref bean="requestHandlerCalcul" />
        </jaxrs:serviceBeans>
    </jaxrs:server>
</beans>